<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lora|Lato:300' rel='stylesheet' type='text/css'>
    <link href='/static/home.css' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/static/handlebars-v3.0.0.js"></script>
    <script src="/static/home.js"></script>
</head>
<body>
    <form method="GET"><input type="text" name="search"></form>
    <ul class="people"></ul>
    <div id="loading"></div>
    <script id="profile_template" type="text/x-handlebars-template">{% verbatim %}<li class="short_profile">
            <img src='{{pic_url.bigger}}' />
            <div class="name">{{name}}</div>
            <a class="username" href='https://twitter.com/{{screen_name}}'>@{{screen_name}}</a>
        </li><li class="long_profile hidden">
            <img src='{{pic_url.[200]}}' />
            <div class="name">{{name}}</div>
            <a class="username" href='https://twitter.com/{{screen_name}}'>@{{screen_name}}</a>
            <div class="location">{{location}}</div>
            <div class="bio">{{description}}</div>
        </li>{% endverbatim %}</script>
    <script>
    $(document).ready(function() {
        get_profiles_for_search('');
        $('input[name=search]').on('keyup', function(evt) {
            delay(function(){
                term = evt.target.value;
                if (last_search != term) {
                    get_profiles_for_search(term);
                }
            }, 500 );
        })
    })
    </script>
</body>
</html>